# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

#Ignore webpack files
*.hot-update.json
*.hot-update.js
bundle.js

#Ignore vim files
*.swp

#Ignore database storage
*.db

# node-waf configuration
.lock-wscript

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history
